{{ ansible_default_ipv4.gateway }} router.{{ domain_name }}
{{ ansible_default_ipv4.address }} heimdall.{{ domain_name }}
{{ ansible_default_ipv4.address }} pihole.{{ domain_name }}
{{ ansible_default_ipv4.address }} nginx.{{ domain_name }}
{{ ansible_default_ipv4.address }} portainer.{{ domain_name }}
{{ ansible_default_ipv4.address }} plex.{{ domain_name }}
{{ ansible_default_ipv4.address }} netdata.{{ domain_name }}
{{ ansible_default_ipv4.address }} nextcloud.{{ domain_name }}
{{ ansible_default_ipv4.address }} glances.{{ domain_name }}
